<div class="gallery-container">
    <header class="header">
        <div class="logo-navbar-container">
            <img alt="logo" src="logo.png" class="logo">
            <div class="nav-bar">
                <app-navbar></app-navbar>
            </div>
        </div>
        <h1 class="gallery-heading">Gallery</h1>
    </header>

    <div class="boxes">
        <div class="box1">
            <div class="image">
                <img src="homepageImg.jpg" alt="Image">
            </div>
            <div class="text">
                <h1>The living Room</h1>
                <p>The place where style and comfort <br> meet, offering the perfect spot to <br> relax, unwind <br> and truly feel at home</p>
            </div>
        </div>

        <div class="box2">
            <div class="image">
                <img src="download19.jpg" alt="Image">
            </div>
            <div class="text">
                <h1>The Sleep Suite</h1>
                <p>A cozy retreat where relaxation <br> begins, with every detail designed <br> for a peaceful night's sleep and a <br> restful stay.</p>
            </div>
        </div>

        <div class="box3">
            <div class="image">
                <img src="download20.jpg" alt="Image">
            </div>
            <div class="text">
                <h1>The Culinary Corner</h1>
                <p>A kitchen that invites you to slow <br> down, savor the moment, and enjoy <br> the simple pleasures of cooking and <br> good company</p>
            </div>
        </div>
    </div>

</div>