<!-- <app-header></app-header> -->
<div class="home-container">
    <header class="header">
            <img alt="logo" src="logo.png" class="logo">
            <div class="nav-bar">
                <app-navbar></app-navbar>
            </div>
        <h1 class="home-heading">Find your home away from home, where every <br> stay feels like a getaway</h1>
    </header>

    <!-- features -->
    <div class="features">
        <div class="feature">
            <img src="bed.jpg" alt="logo" class="logo">
            <p>Escape the everyday and <br> enjoy restful <br> staycation right at home</p>
        </div>
        <div class="feature">
            <img src="coffee.png" alt="Coffee Icon">
            <p>Start your day right! <br> Enjoy your morning coffee in a calm, <br> relaxing space</p>
        </div>
        <div class="feature">
            <img src="sun.png" alt="Chill Icon">
            <p>Chill & Unwind! <br> Take time to relax and enjoy the simple <br> pleasures of a staycation</p>
        </div>
    </div>

    <!-- why choose us -->
    <div class="why-choose-us">
        <!-- images -->
        <div class="gallery">
            <img src="homepageImg2.jpg" alt="Living Room" class="main-img">
            <img src="homepageImg.jpg" alt="Decor" class="small-img">
        </div>

        <div class="content">
            <h2>Why Choose Us</h2>
            <p>Unwind close to home with a peaceful retreat, romantic escape, or family getaway. Our spaces offer
                comfort,
                style, and unforgettable memories. Let your staycation be your best vacation!</p>
            <ul>
                <li><img src="assets/wifi.png" alt="WiFi Icon"> High-Speed WiFi</li>
                <li><img src="assets/furnished.png" alt="Furnished Icon"> Well-Furnished Rooms</li>
                <li><img src="assets/parking.png" alt="Parking Icon"> Secure Parking</li>
                <li><img src="assets/kitchen.png" alt="Kitchen Icon"> Fully Equipped Kitchen</li>
            </ul>
        </div>
    </div>
</div>